@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-size: 1rem;
	line-height: 1.6;
	color: #333;
	font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Montserrat', sans-serif;
}

.header {
	background-image: url(images/bg2.jpg);
	object-fit: cover;
	background-position: 50% 50%;
	overflow: visible;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}

.header_container {
	padding-top: 4rem;
}

.os_icons_container .u_icon_width svg {
	height: 64px;
	width: 64px;
}

.header_bg_gradient {
	background-image:linear-gradient(#306ed5, #b23c8a) ;
	width: 613px;
	height: 806px;
	margin-left: 5rem;
}

.themes {
	background: #0f2557;
	color: #fff;
	background-image: none;
	box-shadow: 11px 11px 40px 0 rgba(0,0,0,0.35);
	position: absolute;
	top: 8rem;
	left: 8rem;
	padding-left: 90px;
	padding-right: 84px;
	width: 972px;
}

.header_theme_img {
	position: absolute;
	left: -10rem;
	top: -8rem;
}

.baes2_img {
	width: 263px;
	height: 172px;
}

.themes_container h3 {
	font-weight: 300;
	font-size: 1.5rem;
	margin-top: 64px;
}

.themes_container h1 {
	font-size: 3.75rem;
	line-height: 1.2;
	margin-top: 20px;
}

.themes_container p {
	font-size: 1.5rem;
	font-weight: 300;
	margin-top: 20px;
}

.themes_download_btn {
	margin: 33px auto 157px;
	/*margin-left: auto;*/
	display: flex;
	justify-content: center;
}

.themes_download_btn a {
	padding: 15px 56px 16px;
	font-size: 1rem;
	text-transform: uppercase;
	font-family: Montserrat,sans-serif;
	letter-spacing: 2px;
	font-weight: 700;
	background-color: #f15048;
	color: white;
	cursor: pointer;
	border-radius: 5px;
	text-decoration: none;
	text-align: center;

}

.themes_download_btn a:hover {
	background-color: #ef342b;
}

.os_icons_container {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	width: 1048px;
	grid-gap: .5rem;
	text-align: center;
}

.u_icon_width {
	background-color: #4184f4;
	color: white;
	fill: white;
	padding:2rem 1rem;
	position: relative;
	margin-top: -10rem;
}

.u-opacity-60 {
	opacity: .6;
}


.os_icons {
	position: relative;
	top: -5rem;
	margin-left: 12rem;
}

.main_web_design_image {
	background-image: url('images/boxblue.png');
	width: 240px;
	box-shadow: -10px 9px 30px 0 rgba(0,0,0,0.3);
	text-align: center;
	color: #fff;
}

.main_web_design_image h5 {
	font-weight: 700;
	font-size: 1.5rem;
	letter-spacing: 3px;
	text-transform: uppercase;

}

.main_web_design_image h2 {
	font-size: 10rem;
	line-height: 1;
	letter-spacing: -5px;
	font-weight: 700;
}

.main_web_design_circule {
background: #f15048;
	border-radius: 50%;
	width: 51px;
	height: 49px;
	/*position: relative;*/
	/*top: 1rem;*/
	margin-left: 5rem;
	position: relative;
	top: -5rem;
}


.main_web_design {
	position: absolute;
	top: -3rem;
	left: 55rem;
}

.video_blog {
	 background-image: linear-gradient(90deg, #fff 50%, #f2f2f2 50%);
	 height: 100%;
	 width: 100%;
}

.second_vd_bg_color {
	width: 710px;
	height: 439px;
	background-image: linear-gradient(#306ed5, #4184f4);
	box-shadow: 0 0 31px 0 rgba(0,0,0,0.3);
	margin-left: 37rem;
}

.vd_blog_container {
	display: flex;
	width: 1140px;
	margin: 0 auto;
	margin-top: -543px;
}

.first_vd_blog p {
	margin: 41px 69px 0 0;
	/*margin-right: 1rem;*/
	width: 13rem;
}

.video_container {
	padding-top: 188px;
	/*padding-bottom: 6rem;*/
}

.first_vd_blog h2 {
	font-weight: 700;
	font-size: 2.25rem;
	line-height: 1.2;
	margin-top: 30px;
	margin-bottom: 20px;
	margin-right: 1rem;
}

.second_video {
	box-shadow: 5px 5px 30px 0 rgba(0,0,0,0.3);
	margin-bottom: 0;
	margin-top: 30px;
	height: 100%;
	width: 100%;
}

.lazyloding_video {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.second_vd_blog {
	width: 52rem;
	height: 470px;
}

.vidio_third_bg_image {
    position: relative;
    top: -39rem;
    margin-left: 49rem;
}

.vieo_btn {
	margin-top: 3rem;
}

.vieo_btn a{
	box-shadow: 2px 2px 10px 0 rgba(0,0,0,0.3);
	padding: 15px 56px 16px;
    font-size: 1rem;
    text-transform: uppercase;
    font-family: Montserrat,sans-serif;
    letter-spacing: 2px;
    font-weight: 700;
    background-color: #b23c8a;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
}
.vieo_btn a:hover {
	background-color: #a0367c;
}

.web_design {
	background-image: linear-gradient(to right, #b23c8a, #306ed5);
}

.web_design_container {
	margin: 0 7rem;
	padding: 7rem 0;
	color: white;
	display: flex;
	/*justify-content: space-between;*/
}

.second_layout {
	margin-left: 9rem;
}


.second_layout h2 {
	font-size: 3rem;
	font-weight: 700;
	line-height: 1.2;

}

.second_layout p {
	font-size: 1.125rem;
	color: #e5e5e5;
	margin: 20px 0 0;
}

.web_u_image_second {
	margin-top: -24rem;
	margin-left: 22rem;
	width: 325px;
	height: 305px;
	box-shadow: 0 5px 25px 0 rgba(0,0,0,0.3);
}

.web_u_image_first {
	width: 403px;
	height: 420px;
	box-shadow: 0 5px 25px 0 rgba(0,0,0,0.3);
}

.web_image_tag {
	height: 100%;
	width: 100%;
}

.web_btn a{
	background-color: #f15048;
}
.web_btn a:hover{
	background-color: #ef342b;
}

.more_need {
	background-color: white;
	color: black;
}

.more_need_container {
	width: 1139px;
	margin: 0 auto;
	padding-top: 4rem;
}

.u-svg-content {
    height: 65px;
    width: 65px;
    fill: white;
	margin-left: 2rem;
	margin-top: 3rem;

}

.u_inside_up {
	background-color: #4184f4;
	color: white;
	width: 233px;
	height: 247px;
}

.u_inside_down {
	box-shadow: 0px 0px 34px 0 rgba(0,0,0,0.3);
	background-color: white;
	color: black;
	width: 233px;
	height: 227px;
	position: relative;
	top: -7rem;
	left: -2rem;

}

.u_inside_down h4 {
	font-size: 1.125rem;
	font-weight: 700;
	line-height: 1.2;
	padding: 62px 20px 0;
	text-align: center;

}

.u_inside_down p {
	margin: 21px 20px 18px;
	font-size: 1.125rem;
	text-align: center;
}

.more_need_container h1 {
	font-size: 3rem;
	text-align: center;
}


.need_items_container {
	margin-top: 3rem;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	/*grid-gap: 1rem;*/
}

.more_item_second .u_inside_up{
	background-color: #f15048;
}

.more_item_third .u_inside_up{
	background-color: #5cb85c;
}

.more_item_fourth .u_inside_up{
	background-color: #fb9056;
}



.more_item_second .u_inside_down, .more_item_fourth .u_inside_down{
position: relative;
	top: -7rem;
	left: 2rem;

}

.more_item_second {
	margin-right: 6rem;
}

.u_items_padding {
	margin-top: 3.5rem;
}

.u-svg-content-2 {
	margin-left: 5rem;
}