@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100%;
	width: 100%;
	font-size: 1rem;
	font-family: 'Poppins', sans-serif;
}

.main_container {
	margin: 0 5rem;
	padding: 1rem 0;
}

.iot_sensor_box {
	border: 2px solid black;
	padding: 1rem 0;
	border-radius: 8px;
}

.iot_title {
	color: red;
	font-size: 1.2rem;
	font-weight: 600;
	text-align: center;
	padding-bottom: 1.5rem;
}

.box_contanier {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 1.5rem;
	margin: 0 1.5rem;
}

.box_title {
	padding-top: .5rem;
	padding-left: 1rem;
}

h2{
	font-family: 'PT Sans', sans-serif;
	font-weight: 500;
}

.child_border {
	border: 2px solid black;
	padding: 1rem;
}

.box_border {
	border: 2px solid black;
	border-radius: 8px;
}


.box_child_container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 1rem;
	padding: 1rem;
}

.second_box_fourth {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	border: 2px solid black;	
}

.child_inside {
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-column-gap: .2rem;
}
	
.child_inside_paddding {
	margin-right: .1rem;
}

.last_box_child {
	margin-right: 6rem;
	display: grid;
	grid-template-columns: 0.5fr 1.3fr;
	margin-top: 3rem;
}