@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
    font-family: myFirstFont;
    src: url(media/FontsFree-Net-zxss.ttf);
}


body {
	max-height: 100vh;
	max-width: 100%;
	color: #273239;
	background-color: #f2f2f2;
	font-family: myFirstFont;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.7;
}

header {
	background-color: white;
	  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.navigation-bars a{
	text-decoration: none;
	color: black;
}

.navigation-bars ul{
	list-style: none;
}

.first-navigation-bar {
	display: flex;
	justify-content: space-between;
	margin: 0 2%;
}

.first-nav-bar ul {
	display: flex;
}

.first-nav-bar ul li {
	padding-right: 1rem;
}

.first-nav-bar ul li a {
	font-weight: 600;
	font-size: 95%;
}

.first-nav-bar ul li a:hover {
	color: #308D46;
}

.third-nav-bar {
	display: flex;
}

.third-padding {
	padding-left: 1.5rem;
}

.align-self {
	align-self: center;
}

.second-nav-bar {
	padding: 1rem 0;
}

.signin a{
	background-color: black;
	color: white;
	padding: 0.6rem 1.5rem;
	border-radius: 10px;
	font-weight: 700;
}

.second-navigaaaation-bar {
	margin: 0 2%;
}

.second-navigaaaation-bar ul{
	display: flex;
	padding: 1rem 0;
}

.second-navigaaaation-bar ul li {
	padding-right: 1.422rem;
}

.second-navigaaaation-bar ul li a{
	font-size: 95%;
	font-weight: 500;
}

.second-navigaaaation-bar ul li a:hover{
	color: #308D46;
}

.nav-horizontal-line {
	height: 1px;
	width: 100%;
	background-color: #f2f2f2;
}

.fa-language {
	font-size: 1.7rem;
}

.nine-dot-menu {
    width: 2.8rem;
}

.nine-dot-menu svg {
	width: 100%;
	height: 100%;
}
.main-blog {
	margin-top: 2rem;
}

.main-blog-container {
	margin: 0 2%;
}

.blog-items {
	display: flex;
}

.first-introduction-item .python-lang {
	list-style: none;
	/*width: 100%;*/
}

.python-lang a{
	text-decoration: none;
	color: #273239;
}

.first-introduction-item .python-lang li  {
	background-color: white;
	padding: 5px 32px 5px 15px;
	border-bottom: 1px solid #F0F0F0;
	font-size: 100%;
	font-weight: 400;
	font-family: 'PT Sans', sans-serif;
	/*width: 85%;*/
	line-height: 1.5;
}

.drop-down {
	font-size: 100%;
	font-weight: 400;
	font-family: 'PT Sans', sans-serif;
	padding: 12px 15px 1rem 1rem;
	background-color: white;
	/*width: 85%;*/
	border-bottom: 1px solid #F0F0F0;
}

.drop-down {
	display: flex;
	justify-content: space-between;
}

.fa-angle-up {
	font-size: 1.5rem;
	font-weight: 600;
}

.python-lang li:hover {
	background-color: #f2f2f2;
}

.drop-down:hover {
	background-color: #f2f2f2;	
}

.second-discription-blog {
	width: 79%;
	margin-left: 1%;
	background-color: white;
	padding: 1rem;
}

.second-discription-blog ol {
	padding-left: 2rem;
}

.python-title h1 {
	font-weight: 1.75rem;
}

.python-title .date {
	color: #6d6d6d;
	font-size: 15px;
	padding: 5px 0;
}

.python-title p {
	padding-top: 1rem;
	font-weight: 400;
	letter-spacing: -.01em;
	font-size: 1rem;
}

.title-image {
	padding: 2rem 0;
}

.title-image .blog-image {
	width: 100%;
	height: 100%;
}

.section-app p {
	padding: 1rem 0;
}

.machine {
	list-style: disc outside;
}

.machine a {
	color: #308D46;
	text-decoration: none;
	cursor: pointer;
}

.machine a:hover {
	text-decoration: underline;
}

.machine span {
	color: #308D46;
	cursor: pointer;
}

.machine span:hover {
	text-decoration: underline;
}

.third-most-articles {
	padding: 1rem 0 1rem 2rem;
}

.article {
	font-size: 16pt;
	letter-spacing: .2rem;
	color: #308D46;
}

.article-first-div {
    width: 18rem;
}

.article-items ul li {
	padding: 0.7rem 0;
}

.article-first-div {
	padding-top: 10rem;
}

.article-second-div {
	padding-top: 20rem;
}

.links {
	padding: 2rem 0;
}

.links a{
	text-decoration: none;
	color: #308D46;
	
}

.links a:hover {
	text-decoration: underline;
}

.python-more-links a {
	text-decoration: none;
	color: #308D46;	
}

.python-more-links a:hover {
	text-decoration: underline;
}

.python-more-links {

}