* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #161625;
	color: #bdbdbd;
	font-size: 1rem;
	line-height: 1.6;
}

.header {
	background-color: #1e1e30;
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 6rem;
}

.header_container {
	/*display: flex;*/
}

.title {
	font-size: .6rem;
	text-align: center;
	padding-top: 2rem;
	width: 46px;
	text-align: center;
	margin: 0 auto;
}

.title a {
	text-decoration: none;
	color: #bdbdbd;
	font-weight: 900;
	word-wrap: break-word;	
	text-align: center;
}

.title a span {
	word-wrap: break-word;
	color: #4c75f2;	

}

.header_effect {
	display: flex;
	flex-direction: column;
	padding: 2rem;
}

.header_effect div {
	padding-top: 2rem;
}

.header_effect div svg {
	color: #6c757d;

}

.hover_items {
	display: flex;
	flex-direction: column;
	position: absolute;
	transform: translate3d(6rem, 0px,0px);
	top: 0;
	/*width: 12rem;*/
	height: 100vh;
	z-index: -1;
	background-color: #1e1e30;

}

.hover_items ul li {
	font-weight: bold;
	text-align: center;
	height: 1.5rem;
	/*width: 12rem;*/
	padding-bottom: 4rem;
} 

.hover_items ul li a {
	color: #6c757d;
	text-decoration: none;

}

	/*background:rgba(219,85,129,.18823529411764706);*/

.hover_items ul li a.active {
	color: rgb(76, 117, 242);


}

.hover_items ul .li_class {
	margin-top: 8rem;
}


.hover_items {
	height: 100vh;
	width: 15rem;
	position: absolute;
	transform: translateX(-170px);
	transition: all 0.3s linear;
}

.hover_items ul li {
	text-align: center;
	list-style: none;
}

.header_effect:hover ~ .hover_items{
	transform: translateX(0px);	
	cursor: pointer;
	width: 18rem;
	cursor: pointer;
}