/*@font-face {
 font-family:Archia;
 src:url(/fonts/Archia/archia-semibold-webfont.eot);
 src:local('Archia'),
 url(/fonts/Archia/archia-semibold-webfont.eot?#iefix) format('embedded-opentype'),
 url(/fonts/Archia/archia-semibold-webfont.woff2) format('woff2'),
 url(/fonts/Archia/archia-semibold-webfont.woff) format('woff'),
 url(/fonts/Archia/archia-semibold-webfont.ttf) format('truetype');
 font-weight:600;
 font-style:normal;
 font-display:swap
}
@font-face {
 font-family:Archia;
 src:url(/fonts/Archia/archia-medium-webfont.eot);
 src:local('Archia'),
 url(/fonts/Archia/archia-medium-webfont.eot?#iefix) format('embedded-opentype'),
 url(/fonts/Archia/archia-medium-webfont.woff2) format('woff2'),
 url(/fonts/Archia/archia-medium-webfont.woff) format('woff'),
 url(/fonts/Archia/archia-medium-webfont.ttf) format('truetype');
 font-weight:400;
 font-style:normal;
 font-display:swap
}
@font-face {
 font-family:Archia;
 src:url(/fonts/Archia/archia-bold-webfont.eot);
 src:local('Archia'),
 url(/fonts/Archia/archia-bold-webfont.eot?#iefix) format('embedded-opentype'),
 url(/fonts/Archia/archia-bold-webfont.woff2) format('woff2'),
 url(/fonts/Archia/archia-bold-webfont.woff) format('woff'),
 url(/fonts/Archia/archia-bold-webfont.ttf) format('truetype');
 font-weight:900;
 font-style:normal;
 font-display:swap
}*/


/** {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}*/

body {
	background-color: #161625;
	color: #bdbdbd;
	font-size: 1rem;
	line-height: 1.6;
	font-family: sans-serif;
	/*font-family: Archia;*/
}

*{
	padding: 0;
	margin: 0;
}

.header {
	background-color: #1e1e30;
	display: flex;
	flex-direction: column;
	width: 6rem;

}

.header_container {
	position: fixed;
	height: 100vh;
	z-index: 999;

}

.title {
	font-size: .6rem;
	text-align: center;
	padding-top: 2rem;
	width: 46px;
	text-align: center;
	margin: 0 auto;
}

.title a {
	text-decoration: none;
	color: #bdbdbd;
	font-weight: 900;
	word-wrap: break-word;	
	text-align: center;
}

.title a span {
	word-wrap: break-word;
	color: #4c75f2;	

}

.header_effect {
	display: flex;
	flex-direction: column;
	padding: 2rem;
	position: relative;
}

.header_effect div {
	padding-top: 2rem;
}

.header_effect div svg {
	color: #6c757d;
}

.hover_items {
	display: flex;
	flex-direction: column;
	position: absolute;
	transform: translate3d(6rem, 0px,0px);
	top: 0;
	width: 16rem;
	opacity: 1;
	height: 100vh;
	z-index: -1;
	background-color: #1e1e30;
	transform: translateX(-190px);
	transition: all 0.4s linear;
}

.hover_items ul li {
	font-weight: bold;
	text-align: center;
	height: 1.5rem;
	/*width: 12rem;*/
	padding-bottom: 4rem;
} 

.hover_items ul li a {
	color: #6c757d;
	text-decoration: none;
}

.hover_items ul li a.active {
	color: rgb(76, 117, 242);
}

.hover_items ul .li_class {
	margin-top: 8rem;
}

.hover_items ul li {
	text-align: center;
	list-style: none;
}

.header_effect:hover ~ .hover_items{
	transform: translateX(0px);	
	cursor: pointer;

}

.main_blog {
	display: flex;
}

.hero {
	padding-top: 5rem;
	margin-left: 5rem;
	margin-right: 3rem;
	width: 43%;
}

.new_hero {
	width: 90%;
	padding-top: 5rem;
	margin-left: 3rem;
	margin-right: 3rem;
}

.searchbox label {
	font-size: 0.85rem;
	font-weight: bold;
	padding-bottom: 2rem;
	color: #6c757d;
}

.searchbox {
	display: flex;
	flex-direction: column;

}

.searchbox_new {
	display: flex;
	flex-direction: column;
	width: 70%;
	margin: 0 auto;
}

.searchbox_new label {
	font-size: 0.85rem;
	font-weight: bold;
	padding-bottom: 2rem;
	color: #6c757d;
}

.u-input {
	background: #1e1e30;
	outline: none;
	border: 0;
	width: 100%;
	height: 4rem;
	box-shadow: 0 10px 35px rgba(0, 0, 0, .1);
	border-radius: 5px;
	width: calc(100% - 4rem);
	color: white;
	padding-left: 3.5rem;
}

.searchbox_ {
	position: relative;
	width: 100%;
	
}

.search_botton span svg{
	position: absolute;
	top: 1.2rem;
	left: .75rem;
	color: #6c757d;

}

.action_panel {
	display: flex;
	margin: 1rem auto;
	text-align: center;
	align-items: center;
	padding-left: 11rem;
	color: #6c757d;
}

.action_new_panel {
	display: flex;
	margin: 1rem auto;
	align-items: center;
	color: #6c757d;
	justify-content: center;
}

.action_new_panel span{padding-left: 0.8rem;}

.action_panel span {
	padding-left: 0.8rem;	
}

.map_switcher {
	grid-template-columns: repeat(4, 1fr);
	display: grid;
	cursor: pointer;
	padding: 1rem 0;
}

.map_new_switcher{
	grid-template-columns: repeat(4, 1fr);
	display: grid;
	cursor: pointer;
	padding: 1rem 0;
}

.map_new_switcher .first_map_div{
	color: #ff073a;
	height: 14rem;
}

.map_new_switcher .second_map_div {
	color: #007bff;
	height: 14rem;
	/*background: rgba(0, 123, 255, 0.125) none repeat scroll 0% 0%;*/
	/*width: calc(25%);*/
}

.map_new_switcher .third_map_div {
	color: #28a745;
	height: 14rem;
}

.map_new_switcher .fourth_map_div {
	color: #6c757d;
	height: 14rem;
}


.map_switcher .first_map_div {
	color: #ff073a;
	height: 14rem;
}

.map_switcher .first_map_div:hover {
	background: rgba(255,7,58,.12549019607843137);
}

.map_switcher .second_map_div {
	color: #007bff;
	height: 14rem;
	background: rgba(0, 123, 255, 0.125) none repeat scroll 0% 0%;
	/*width: calc(25%);*/
}

.map_switcher .second_map_div:hover {
	background: rgba(0,123,255,.12549019607843137);
}

.map_switcher .third_map_div {
	color: #28a745;
	height: 14rem;
}

.map_switcher .third_map_div:hover {
	background: rgba(40,167,69,.12549019607843137);
}

.map_switcher .fourth_map_div {
	color: #6c757d;
	height: 14rem;
}

.map_switcher .fourth_map_div:hover {background: rgba(108,117,125,.06274509803921569);}

.map-padding {
	border-radius: 5px;
}

.map-padding h5 {
	padding-top: 0.5rem;
	padding-bottom: 1rem;
}

.map-padding .mini-map {
	padding-top: 0.5rem;
}

.vaccine_header {
	display: flex;
	padding-top: .5rem;
	margin-left: 0rem;
	font-size: .875rem;	
}

.vaccine_header div {
	padding:.5rem;
	background: rgba(219,85,129,.12549019607843137);
	border-radius: 5px;
	color: #db5581;
	
}

.progress_title {
	color: #6c757d;
	cursor: pointer;
	opacity: .6;
	padding: 1rem 0;
	font-size: 12px;
}

.Table {
	width: 94%;
}

.table_icon {
	display: flex;
	margin-top: 1rem;
}

.tale-u-border {
	background: rgba(108,117,125,.06274509803921569);
	border-radius: 5px;
	color: rgba(108,117,125,.6);
	display: flex;
	justify-content: center;
	height: 2.5rem;
	align-items: center;
	width: 2.5rem;
	text-align: center;
	margin-right: .25rem;
}

.table_row {
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    padding-top: 0.5rem;
}

.click_table {
	display: grid;
	grid-template-columns: repeat(13, 1fr);
	padding-top: 0.5rem;
	/*display: block;*/
}

.cell {
	background-color: #1e1e30;
	padding: 1.25rem .75rem .75rem;
	margin-right: .25rem;
	font-size: 16px;
	color: #6c757d;
	font-weight: 900;
	/*padding: .5rem;*/
	border-radius: 5px;
}

.table_row .cell {
	padding:.75rem 0.75rem .75rem;
}

.statistic {
	text-align: center;
	/*align-items: center;*/
	font-size: 16px;
	padding: 0;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.table_row .statistic .is-confirmed {
	color: #ff073a;
}

.delta.is-recovered {
	color: #28a745;
}

.statistic {
	background-color: #161625;
}

.cell.statistic.new_class{
	background: #1e1e30;
}

.table_container {
	align-self: center;
	width: 100%;
	overflow-x: auto;
	/*display: inline-block;*/
}

.table_container .new_row .fixed {
	/*position: sticky;*/
	top: 0;
	left: 0;
	width: 5em;
	border-radius: 5px;
	margin-bottom: .2rem;
	/*height: 5em;*/
}

.table_row .fixed {
	position: sticky;
	left: 0;
}


.map-padding h5 {
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    margin: 0;
}

.map-padding h4 {padding: 0; margin: 0;}

.table_row .cell {
    padding: .75rem 0.75rem .75rem;
    /*height: 2.5em;*/
    align-self: center;
    width: 5em;
}

.hero_container {
	display: flex;
	text-align: center;
	margin: 0 auto;
}

.hero_new_container {
	text-align: center;
	margin: 0 auto;
}

.first_hero_division{
	margin-right: 1.5rem;
}

.second_hero_division {
	margin-left: 1.5rem;
}

.state_selection select {
    background: #1e1e30;
    background-image: linear-gradient(45deg,transparent 50%,#6c757d 0),linear-gradient(135deg,#6c757d 50%,transparent 0);
	background-position: calc(100% - 13px) 50%, calc(100% - 8px) 50%;
	background-repeat: no-repeat;
	background-size: 5px 5px,5px 5px;
	border-color: hsla(0,0%,58%,.10196078431372549);
	border: 2px solid #e8e8e9;
	border-radius: 4px;
	font-weight: 600;
 	cursor: pointer;
 	color: #6c757d;
 	padding: .5rem 1.4rem .5rem .5rem;
 	width: 15rem;
 	appearance: none;
}

.state_selection .dropdown {
	min-height: 60%;
}

.state_selection {
	margin-top: 38rem;
}

.state_new_selection {
	margin-top: 3rem;
	margin-left: 45rem;
}

.state_new_selection select {
    background: #1e1e30;
    background-image: linear-gradient(45deg,transparent 50%,#6c757d 0),linear-gradient(135deg,#6c757d 50%,transparent 0);
	background-position: calc(100% - 13px) 50%, calc(100% - 8px) 50%;
	background-repeat: no-repeat;
	background-size: 5px 5px,5px 5px;
	border-color: hsla(0,0%,58%,.10196078431372549);
	border: 2px solid #e8e8e9;
	border-radius: 4px;
	font-weight: 600;
 	cursor: pointer;
 	color: #6c757d;
 	padding: .5rem 1.4rem .5rem .5rem;
 	width: 15rem;
 	appearance: none;
}


.wrap {
	display: flex;
	justify-content: space-between;
}

.wrap .arrow_icon{margin-top: 1rem;}

.wrap .arrow_icon svg {
	transform: rotate(-90deg);
}

.new_right_arrow {
	transform: rotate(180deg);
	color: #28a745;	
}

.hide_cell {
	display: none;
}

.show {
	display: block;
}

