* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #161625;
	color: #bdbdbd;
	font-size: 1rem;
	line-height: 1.6;
}

.header {
	background-color: #1e1e30;
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 6rem;
}

.header_container {
	/*display: flex;*/
}

.title {
	font-size: .6rem;
	text-align: center;
	padding-top: 2rem;
	width: 46px;
	text-align: center;
	margin: 0 auto;
}

.title a {
	text-decoration: none;
	color: #bdbdbd;
	font-weight: 900;
	word-wrap: break-word;	
	text-align: center;
}

.title a span {
	word-wrap: break-word;
	color: #4c75f2;	

}

.header_effect {
	display: flex;
	flex-direction: column;
	padding: 2rem;
}

.header_effect div {
	padding-top: 2rem;
}

.header_effect div svg {
	color: #6c757d;

}

.hover_items {
	display: flex;
	flex-direction: column;
	position: absolute;
	transform: translate3d(6rem, 0px,0px);
	top: 0;
	/*width: 12rem;*/
	height: 100vh;
	z-index: -1;
	background-color: #1e1e30;

}

.hover_items ul li {
	font-weight: bold;
	text-align: center;
	height: 1.5rem;
	/*width: 12rem;*/
	padding-bottom: 4rem;
} 

.hover_items ul li a {
	color: #6c757d;
	text-decoration: none;

}

	/*background:rgba(219,85,129,.18823529411764706);*/

.hover_items ul li a.active {
	color: rgb(76, 117, 242);


}

.hover_items ul .li_class {
	margin-top: 8rem;
}


.hover_items {
	height: 100vh;
	width: 15rem;
	position: absolute;
	transform: translateX(-170px);
	transition: all 0.3s linear;
}

.hover_items ul li {
	text-align: center;
	list-style: none;
}

.header_effect:hover ~ .hover_items{
	transform: translateX(0px);	
	cursor: pointer;
	width: 18rem;
	cursor: pointer;
}

.main_blog {
	display: flex;
}

.hero_container {
	text-align: center;
	margin: 0 auto;
}

.hero {
	padding-top: 5rem;
	margin-left: 5rem;
	margin-right: 3rem;
	width: 43%;
}

.searchbox label {
	font-size: 0.85rem;
	font-weight: bold;
	padding-bottom: 2rem;
	color: #6c757d;
}

.searchbox {
	display: flex;
	flex-direction: column;
}

.u-input {
	background: #1e1e30;
	outline: none;
	border: 0;
	width: 100%;
	height: 4rem;
	box-shadow: 0 10px 35px rgba(0, 0, 0, .1);
	border-radius: 5px;
	width: calc(100% - 4rem);
}

.searchbox_ {
	position: relative;
	width: 100%;
}

.search_botton span svg{
	position: absolute;
	top: 1.2rem;
	left: 2.75rem;
	color: #6c757d;
}

